.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;


  &__score {
    padding: 1rem;
    justify-content: center;
  }
}

.card {
  height: min-content;
  border: 1px solid #000;
  border-radius: 15px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);

  @media screen and (min-width: 710px) {
    display: flex;
  }

  &__question {
    background-color: var(--color-card-primary);
  }

  &__score {
    background-color: var(--color-card-primary);
    font-size: 1.5rem;
    padding: 1rem 2rem;
    width: 100%;


    &--comment {
      // background-color: var(--color-button-primary);
      background-image: url(https://media.giphy.com/media/t2aAdTgnU9Ie6jvG0W/giphy.gif);
      background-size: cover;
      font-size: 2.5rem;
      text-align: center;
      color: #000;
      padding: 0.7rem 1.5rem;
      max-width: 24rem;
    }

    & p {
      text-align: center;
    }
  }

  &__try-again {
    width: 100%;
    color: #fff;
    font-size: 1.4rem;
    // padding: 0.75rem;
    text-align: center;
  }

  &__retry {
    text-align: center;
  }
}



button {
  width: 100%;
  font-size: 16px;
  color: #000;
  background-color: var(--color-button-primary);
  border-radius: 10px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid var(--color-button-border);
  cursor: pointer;
}

@media screen and (min-width: 711px) {
  button:hover {
    background-color: var(--color-button-hover);
  }
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/* QUESTION SECTION */
.question-section {}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
  font-size: 1.2rem;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}