.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;

  @media screen and (min-width: 710px) {
    height: calc(100vh - 5rem);
  }

  &__score {
    height: calc(100vh - 5rem);
  }
}
.card {
  height: min-content;
  border: 1px solid #000;
  border-radius: 15px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  padding: 2rem;

  @media screen and (min-width: 710px) {
    display: flex;
  }

  &__question {
    background-color: #0c1a44aa;
    width: 40rem;
    margin: 20% auto;

    @media screen and (max-width: 710px) {
      width: 20rem;
      height: 30rem;
      margin-top: 40%;
    }
  }

  &__score {
    background-color: #0c6313c4;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin: 25% auto;

    @media screen and (max-width: 710px) {
      margin: 12% auto;
    }

    &--comment {
      background-color: #77231de0;
      font-size: 2.5rem;
      text-align: center;
      margin: 0 auto;

      @media screen and (max-width: 710px) {
        margin: 1rem auto;
        width: 70%;
        padding: 0.7rem 1.5rem;
      }
    }

    & p {
      text-align: center;
    }
  }

  &__try-again {
    max-width: 10rem;
    background-color: #0c1a44aa;
    color: #fff;
    font-size: 1.4rem;
    padding: 1.5rem;
    border: 2px solid #fff;
    margin: 20% auto;

    @media screen and (max-width: 710px) {
      margin: 12% auto;
    }
  }

  &__retry {
    text-align: center;
  }
}

.number {
  font-size: 5rem;
  padding: 0 1.5rem 1.5rem 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 710px) {
    padding: 0 1rem 1rem 1rem;
  }
}

button {
  width: 100%;
  font-size: 16px;
  color: #000;
  background-color: #ecca33;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}
@media screen and (min-width: 711px) {
  button:hover {
    background-color: rgb(248, 181, 80);
  }
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
  font-size: 1.2rem;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}
