.main {
    height: 100vh;
    background-image: url('../../img/zappa_bg_ol.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    align-items: center;
    justify-content: center;
  }