.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
  margin: auto;
  background-color: #d87c57;
  justify-content: center;
}

// .score-comment {
//   background-color: #d2e664;
//   font-size: 24px;
//   text-align: center;
// }
