/* media query needed on bg image and q_box width for phones */

.card-container {
  // height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}
.card {
  height: min-content;
  border: 1px solid #000;
  border-radius: 15px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  padding: 2rem;
  margin: auto;

  @media screen and (min-width: 710px) {
    display: flex;
  }

  &__question {
    background-color: #252d4a;
    width: 40rem;

    @media screen and (max-width: 710px) {
      width: 20rem;
    }
  }

  &__score {
    background-color: #d87c57;
    font-size: 1.5rem;

    &--comment {
      background-color: #a54925;
      font-size: 2.5rem;
      @media screen and (max-width: 710px) {
        margin: 2rem auto;
      }
    }
  }

  &__button {
    max-width: 10rem;
    background-color: #6d2d2d;
    color: #fff;
    font-size: 1.2rem;
    padding: 1.5rem;
    margin: auto;
  }

  &__retry {
    text-align: center;
  }
}

.number {
  font-size: 5rem;
  padding: 0 1.5rem;
}

button {
  width: 100%;
  font-size: 16px;
  color: #000;
  background-color: #ecca33;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}

button:hover {
  background-color: rgb(248, 181, 80);
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}
