* {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}
body {
  background-image: url('img/zappa_bg_ol.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  display: flex;
  justify-content: center;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (min-width: 711px) {
  }
}
:root {
  --color-psy-pink: #ff4fbe;
  --color-psy-pale-pink: #ff8bc5;
  --color-psy-light-blue: #00e9ff;
  --color-psy-mid-blue: #00a1ff;
  --color-psy-dark-blue: #0064f0;
  --color-psy-yellow: #fffc2a;
  --color-psy-green: #55ff2a;
}
