* {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {
  --color-card-primary: #0c1a44aa;
  --color-button-primary: #fdab48e5;
  --color-button-hover: #f8b550;
  --color-button-border: #3a0b18;
  background-color: #3a0b18;
}