.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
  margin: auto;
  background-color: #d87c57;
  justify-content: center;
}

.number {
  font-size: 5rem;
  line-height: 4.25rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.color-change {
  animation: colorChange 2.5s linear infinite;
}

@keyframes colorChange {

  0%,
  90% {
    transform: rotateY(360deg)
  }

  0% {
    color: #a326fc;
    scale: 0.8;
  }

  20% {
    color: #fc0f33;
    scale: 1.2;
  }

  40% {
    color: #fb9724;
    scale: 0.8;
  }

  60% {
    color: #fff42b;
    scale: 1.2;
  }

  80% {
    color: #82fe66;
    scale: 0.8;
  }

  100% {
    color: #a326fc;
    scale: 0.8;
  }
}

.glow {
  cursor: pointer;
  background: linear-gradient(45deg, #f90439, #cca3e1, #f925f6);
  background-size: 400%;
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    background: #23f717c4 !important;
    transform: scale(1.1);
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.waviy {
  position: relative;
}

.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

  0%,
  80% {
    transform: rotateY(360deg)
  }
}

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-weight: 400;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  // color: transparent;
  // background-color: white;
  // background-clip: text;
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }

  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }

  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }

  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }

  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }

  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }

  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }

  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }

  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }

  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }

  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }

  40% {
    transform: translate(-12px, -12px);
  }

  50% {
    transform: translate(-12px, -12px);
  }

  60% {
    transform: translate(-12px, -12px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}