.header {
  background-color: #252d4a;
  width: 100vw;
  color: #ecca33;
  font-size: 6rem;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

.subheading {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
